:root {
    --fds-black: #000;
    --fds-white: #fff;
    --fds-gray-01: #fcfcfc;
    --fds-gray-02: #f9f9f9;
    --fds-gray-03: #f7f7f7;
    --fds-gray-04: #f4f4f4;
    --fds-gray-05: #f1f1f1;
    --fds-gray-10: #e3e3e3;
    --fds-gray-15: #d5d5d5;
    --fds-gray-20: #c7c7c7;
    --fds-gray-30: #acacac;
    --fds-gray-40: #909090;
    --fds-gray-50: #757575;
    --fds-gray-60: #5d5d5d;
    --fds-gray-70: #464646;
    --fds-gray-80: #353535;
    --fds-gray-90: #252525;
    --fds-gray-100: #171717;
    --fds-red-10: #fed1d1;
    --fds-red-20: #f7aaaa;
    --fds-red-30: #f68181;
    --fds-red-40: #ef5656;
    --fds-red-50: #e22929;
    --fds-red-60: #c20f0f;
    --fds-red-70: #9e0505;
    --fds-red-80: #790404;
    --fds-red-90: #4f0303;
    --fds-yellow-10: #fdedb7;
    --fds-yellow-20: #fcdb6f;
    --fds-yellow-30: #faca26;
    --fds-yellow-40: #d2a305;
    --fds-yellow-50: #8a6b03;
    --fds-yellow-60: #6e5602;
    --fds-yellow-70: #534002;
    --fds-yellow-80: #372b01;
    --fds-yellow-90: #1c1501;
    --fds-green-10: #cae7bb;
    --fds-green-20: #9bcf80;
    --fds-green-30: #73b74f;
    --fds-green-40: #509f26;
    --fds-green-50: #338707;
    --fds-green-60: #366c1a;
    --fds-green-70: #335123;
    --fds-green-80: #293622;
    --fds-green-90: #181b16;
    --fds-blue-05: #e0eff8;
    --fds-blue-10: #bbe2fb;
    --fds-blue-20: #7bc7f8;
    --fds-blue-30: #4eace8;
    --fds-blue-40: #2493d9;
    --fds-blue-50: #0b7bc4;
    --fds-blue-60: #0965a0;
    --fds-blue-70: #075180;
    --fds-blue-80: #053d60;
    --fds-blue-90: #03273e;
    --fds-brand-primary-a: #51b6bd;
    --fds-brand-primary-a-10: #d1ebed;
    --fds-brand-primary-a-20: #a3d7db;
    --fds-brand-primary-a-30: #74c3c9;
    --fds-brand-primary-a-40: #47aeb6;
    --fds-brand-primary-a-50: #16828a;
    --fds-brand-primary-a-60: #2a686d;
    --fds-brand-primary-a-70: #204e52;
    --fds-brand-primary-a-80: #153436;
    --fds-brand-primary-a-90: #041a1b;
    --fds-brand-primary-b: #5978b8;
    --fds-brand-primary-b-10: #dde4f0;
    --fds-brand-primary-b-20: #bbc8e2;
    --fds-brand-primary-b-30: #9aadd3;
    --fds-brand-primary-b-40: #7891c5;
    --fds-brand-primary-b-50: #5676b6;
    --fds-brand-primary-b-60: #415d96;
    --fds-brand-primary-b-70: #314670;
    --fds-brand-primary-b-80: #202f4b;
    --fds-brand-primary-b-90: #101725;
    --fds-brand-accent-a: #9999cb;
    --fds-brand-accent-a-10: #e2e2f0;
    --fds-brand-accent-a-20: #c5c5e1;
    --fds-brand-accent-a-30: #a9a9d3;
    --fds-brand-accent-a-40: #8c8cc4;
    --fds-brand-accent-a-50: #6f6fb5;
    --fds-brand-accent-a-60: #4f4f9a;
    --fds-brand-accent-a-70: #3b3b74;
    --fds-brand-accent-a-80: #28284d;
    --fds-brand-accent-a-90: #141427;
    --fds-brand-accent-b: #a3dbe5;
    --fds-brand-accent-b-10: #d4e5e8;
    --fds-brand-accent-b-20: #a9ccd2;
    --fds-brand-accent-b-30: #7eb2bc;
    --fds-brand-accent-b-40: #5399a6;
    --fds-brand-accent-b-50: #288090;
    --fds-brand-accent-b-60: #206673;
    --fds-brand-accent-b-70: #184c56;
    --fds-brand-accent-b-80: #0f3339;
    --fds-brand-accent-b-90: #08181c;
}